:root {
  --main-text-color: #19385d;
  --bgc-header-menu: #3a6fc9;
  --secondary-text-color: #ffffff;
  --title-color: #0c3e96;
  --bcg-color: #ebf3ff;
  --white-bgc: #ffffff;
  --item-block-bgc: #648dd4;
  --bgc-date: #dd2a1b;
  --bgc-hero-card: #f53323;
  --bcg-color-footer: #19385d;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  background-color: var(--white-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
/* .link:hover,
.link:focus {
  cursor: pointer;
} */

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 390px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header .container {
  padding-left: 0px;
  padding-right: 0px;
}

.section {
  padding-top: 83px;
}
.section-master {
  padding-top: 29px;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
  color: var(--title-color);
  text-transform: uppercase;
}

.wrapper-date {
  width: 65px;
  border-radius: 4px;
  background-color: var(--bgc-date);
  margin-left: auto;
  margin-left: auto;
}

.wrapper-date__hero {
  border-left: 1px solid #ffffff;
  background-color: transparent;
  transform: skewX(-10deg);
}

/* Header */
.header-logo {
  width: 233px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 10px;
}

.navigation {
  min-width: 390px;
  background-color: var(--bcg-color);
}
.navigation .menu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  padding-left: 10px;
  margin-bottom: -10px;
}

.menu-item {
  display: flex;
  align-items: center;
}
.menu-link {
  display: flex;
  flex-wrap: wrap;
  width: 113px;
  height: 107px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 27px;
  padding-right: 27px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navigation-logo::before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 35px;
  height: 40px;
}
.logicrgb::before {
  background-image: url(../images/sec-hero/svg/logichero.svg);
}

.coinrgb::before {
  background-image: url(../images/sec-hero/svg/coinhero.svg);
}

.chessrgb::before {
  background-image: url(../images/sec-hero/svg/chesshero.svg);
}

.classicsrgb::before {
  background-image: url(../images/sec-hero/svg/classicshero.svg);
}

.holidayrgb::before {
  background-image: url(../images/sec-hero/svg/holidayhero.svg);
}

.header .menu-item {
  font-size: 11px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: var(--white-bgc);
  border-radius: 12px;
}

/* section-master */

.section-master .main-title {
  text-align: center;
  margin-bottom: 32px;
}

.bcg {
  min-width: 390px;
  background-color: var(--bcg-color);
  border-radius: 12px;
}

.main-list {
  padding-bottom: 36px;
}

.main-item {
  padding-top: 30px;
}

.main-item__master {
  background-color: var(--white-bgc);
  border-radius: 0px 0px 15px 15px;
}

.main-img {
  border-radius: 15px 15px 0px 0px;
}

.main-item__block {
  background-color: var(--bgc-hero-card);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 29px;
}

.item-title {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 0.57;
  color: var(--secondary-text-color);
}

.coin-text .modification {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  color: var(--secondary-text-color);
}

.item-title__hero::before {
  display: block;
  content: '';
  height: 22px;
  width: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.icon-coin::before {
  background-image: url(../images/svg/svg/coinpuzzles.svg);
}

.icon-quizzes::before {
  background-image: url(../images/svg/svg/puzzlequizzes.svg);
}
.icon-logic::before {
  background-image: url(../images/svg/svg/logicproblems.svg);
}
.item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--secondary-text-color);
}

.wrapper-date > .item-text {
  padding: 6px 12px;
  text-align: center;
  position: relative;
  transform: skewX(10deg);
}

.item-text .decoration-text {
  font-weight: 700;
  font-size: 18px;
  display: block;
}

.item-text .main-item__master {
  width: 440px;
  background-color: var(--white-bgc);
  border-radius: 0px 0px 15px 15px;
}

.main-item__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.1;
  padding: 17px 0px 14px 29px;
  text-transform: uppercase;
}

.main-item__title.position {
  padding: 22px 36px 14px 46px;
}

.main-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  padding: 0px 27px 34px 46px;
}
.section-master .main-item__text {
  padding-left: 29px;
}
.main-item__text.current {
  padding-right: 10px;
}

/* section PUZZLE CLASSICS  */

.pzlclassic .section-title::before {
  content: '';
  display: block;
  margin-right: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-classicsrgb::before {
  width: 31px;
  height: 43px;
  background-image: url(../images/svg/svg/puzzleclassicsrgb.svg);
}

.logo-chesspuzzgrin::before {
  width: 32px;
  height: 43px;
  background-image: url(../images/svg/svg/chesspuzzgrin.svg);
}

.logo-coinrgb::before {
  width: 39px;
  height: 43px;
  background-image: url(../images/svg/svg/coinpuzzlesrgb.svg);
}
.logo-logicrgb::before {
  width: 43px;
  height: 43px;
  background-image: url(../images/svg/svg/logicrgb.svg);
}

.section-item {
  position: relative;
}

/* section chess */

.chess .section-item__block {
  left: 30px;
}
.section-item__block {
  width: 335px;
  height: 42px;
  background-color: var(--item-block-bgc);
  display: flex;
  align-items: center;

  border-radius: 4px;
  transform: skewX(-10deg);
  position: absolute;
  z-index: 2;
  top: -40px;
  left: 32px;
  padding-left: 27px;
}

.chess .item-title {
  align-items: baseline;
  padding-top: 9px;
  padding-bottom: 4px;
}
.chess .item-title:not(:first-child) {
  padding-left: 10px;
}

.section-item__master {
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  background-color: var(--bcg-color);
  border-radius: 0px 0px 15px 15px;
  transform: skewX(-10deg);
}

.classic .section-item {
  margin-bottom: 270px;
}

.classic .section-item:last-child {
  margin-bottom: 0px;
}

.chess .section-item:last-child {
  margin-bottom: 0px;
}

.transformation {
  transform: skewX(10deg);
}

/* section PUZZLE CLASSICS */
.wrap-img {
  position: absolute;
}
.classic .wrap-img {
  transform: translate(37%, -107%);
  width: 220px;
}
.chess .wrap-img {
  transform: translate(23%, -88%);
  width: 271px;
}
.chess .section-item {
  margin-bottom: 303px;
}

.arrow-down {
  position: absolute;
  transform: translateY(49px);
  padding-left: 337px;
  pointer-events: none;
}

.arrow-down::before {
  content: '';
  display: block;
  width: 13px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/svg/arrowdown.svg);
}

.drop {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 293px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.chess .drop {
  margin-bottom: 369px;
}

.drop-style {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  cursor: pointer;
  border: 0.5px solid var(--item-block-bgc);
  border-radius: 4px;
  color: var(--item-block-bgc);
  background-color: var(--white-bgc);
}

/* section COIN PUZZLES */

.coin .drop {
  margin-bottom: 36px;
}
.coin-bcg {
  min-width: 390px;
  background-color: var(--main-text-color);
}
.coin-bcg:not(:last-child) {
  margin-bottom: 36px;
}

.coin-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.1;
  width: 165px;
  margin-bottom: 15px;
  color: var(--secondary-text-color);
}

.coin .item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 9px;
  text-align: center;
  position: relative;
}

.coin-item__text {
  font-size: 16px;
  width: 165px;
  padding-bottom: 20px;
  color: var(--secondary-text-color);
}

.coin-text {
  display: flex;
  text-align: center;
  align-items: end;
}

.coin-text-group:not(:last-child) {
  margin-right: 5px;
}

.coin .item-title {
  margin-top: 3px;
}

.coin-wrap-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.coin-item {
  display: flex;
  position: relative;
}

.coin-wrap .main-item__text {
  color: var(--secondary-text-color);
  padding: 0;
}

.wrapper-img {
  position: relative;
  margin-top: 43px;
  width: 200px;
  height: 250px;
  position: relative;
  margin-bottom: 40px;
}

.coin-img-wrap {
  width: 115px;
  display: flex;
  margin-left: 18px;
  margin-right: 44px;
  align-items: center;
  justify-content: center;
}

.flex-item {
  margin-left: 70px;
}

.coin-title-svg::before {
  content: '';
  position: absolute;
  transform: translate(50%, -100%);
  width: 29px;
  background-image: url(../images/sec-coin/svg/cointitlesvg.svg);
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.another-svg::after {
  width: 22px;
  height: 22px;
  background-image: url(../images/sec-coin/svg/cointraingles.svg);
}

.coin .wrapper-date {
  transform: skewX(-10deg);
  border-radius: 4px 0px 0px 4px;
}

.coin-date {
  position: absolute;
  transform: translate(0, -100%);
  margin-left: 217px;
}

/* section LOGIC PROBLEMS */

.logic .section-title {
  margin-bottom: 25px;
}

.logic-img {
  width: 360px;
}

.logic-item__block {
  height: 42px;
  border-radius: 0px 0px 4px 4px;
  top: -40px;
  left: 0px;
  background-color: var(--item-block-bgc);
  display: flex;
  align-items: center;
}

.skew {
  margin-left: auto;
}

.skew::before {
  content: '';
  position: absolute;
  display: block;
  width: 64px;
  margin-left: auto;
  right: 0;
  height: 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/sec-logic/svg/bcg-date-right.svg);
}

.skew-reverse {
  position: absolute;
  transform: translate(0px, -100%);
}
.skew-reverse::before {
  content: '';
  position: absolute;
  display: block;
  width: 64px;

  left: 0;
  bottom: 0;
  height: 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/sec-logic/svg/bcg-date-left.svg);
}

.section-item .item-title {
  align-items: baseline;
}

.skew > .item-text {
  padding: 6px 9px;
  text-align: center;
  position: relative;
  transform: skewX(0deg);
}

.logic .drop {
  margin-bottom: 37px;
  margin-top: 0px;
}

.logic .section-img {
  border-radius: 10px 10px 0px 0px;
}

.logic-item.item-title:not(:first-child) {
  align-items: baseline;
  padding-left: 20px;
}

.logic > .logic-title {
  padding-right: 15px;
}

.logic .section-list {
  justify-content: flex-start;
}

.logic-title {
  padding-left: 30px;
}

.logic .section-item {
  margin-bottom: 60px;
}
.logic .section-item:last-child {
  margin-bottom: 0px;
}
.logic .main-item__title {
  padding: 17px 0px 15px 30px;
}
.modification {
  font-weight: 600;
  font-size: 20px;
  line-height: 0.65;
  margin-left: 3px;
  align-items: baseline;
}

.logic .main-item__text {
  padding: 0px 15px 0px 30px;
}

.logic .arrow-down {
  transform: translateY(17px);
}

.reverse .main-item__text {
  padding: 0px 0px 23px 20px;
}

/* footer */

.footer {
  margin-top: 94px;
}
.footer.container {
  padding-left: 0px;
  padding-right: 0px;
}
.background-footer {
  min-width: 390px;
  background-color: var(--bcg-color-footer);
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.08;
  color: var(--secondary-text-color);
}
.footer-wrapper {
  display: flex;
  padding: 55px 35px 50px 35px;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  flex-wrap: wrap;
}
.footer-img {
  width: 140px;
  margin-bottom: 112px;
}
.text__copyright {
  font-size: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  width: 120px;
}
.footer-item:not(:last-child) {
  padding-bottom: 15px;
}
.logo-link::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 12px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  transition: var(--transition);
}

.logic::before {
  background-image: url(../images/sec-footer/svg/logic-footer.svg);
}

.coin::before {
  background-image: url(../images/sec-footer/svg/coin-footer.svg);
}

.chess::before {
  background-image: url(../images/sec-footer/svg/chess-footer.svg);
}

.classics::before {
  background-image: url(../images/sec-footer/svg/classics-footer.svg);
}

.holiday::before {
  background-image: url(../images/sec-footer/svg/holiday-footer.svg);
}

.footer-list {
  display: flex;
  padding: 55px 35px 50px 35px;
  justify-content: space-between;
}

.footer-text__contact {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.08px;
}

.footer-text__policy {
  font-weight: 400;
  font-size: 10px;
}
